* {
    box-sizing: border-box;

}
body{
    background:rgb(20, 20, 20);
}
div button{
    background:rgb(54, 54, 54);

    text-align: center;
    color:white;
}

.output-container{
    grid-area: output;
    background:tan;
    text-align: right;
    padding:5px 10px;
}
.calc-container button p{
    font-size:40px;
    margin:0px;
}
.output{
    font-family: 'Montserrat';
    font-size: 80px;
    color:rgb(63, 63, 63);
    
}
.addition-btn{
    grid-area: addition;
    
    
}

.clear-btn{
    background: rgb(77, 19, 19);
}

button:focus {outline-color: rgb(15, 15, 15);}




.calc-container{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin:auto;
    width:300px;
    margin: 50px auto;
    grid-template-areas:
    "output output output output"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . addition"
    ". . . addition";
    
}
